body { 
    font-family: 'Open Sans' !important;
    font-size: 14px;
    background-color: #F6F6F6;
}
.test-row {
    width: 33% !important;
    padding:15px;
}
p {
    font-family: 'Open Sans';
}
a {
    font-family: 'Open Sans';
}
h5.field-content {
    font-weight: 500;
    font-size: 13px;
}
#block-flows-content .views-field.views-field-field-insurance-list{
    padding: 17px 0px 3px 0px; 
}
.leftsidebar{
    background-color: #fff;
    height:auto;
    padding: 35px 0px;
}
#block-flows-main-menu ul {
    font-family: 'Open Sans';
    list-style-type: none;
    padding: 0px;
    line-height: 40px;
    text-align: center;
}
#block-flows-main-menu ul a{
    font-family: 'Open Sans';
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
}
#block-flows-branding {
    padding: 40px 0px;
    text-align:center;  
}
.readmore a{
    background-color: #25c0b5 !important;
    font-size: 13px;
    color: #fff;
    padding: 8px 27px 6px 25px;
    position: relative;
    text-transform: uppercase;
}
.parastyle{
    padding:10px 0px;
}
#block-views-block-categories-block-1 .views-row{
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 9px 0px;
    margin-top: 10px;
}
#block-views-block-categories-block-1 .views-field.views-field-field-insurance-list a {
    color:#000;
}
#block-views-block-categories-block-1 h2{
    font-size:14px;
    font-weight: bold;
    text-transform: uppercase;
}
#block-views-block-popular-posts-block-1 h2{
    font-size:14px;
    font-weight: bold;
    text-transform: uppercase;
}
#block-views-block-popular-posts-block-1 .post-left{
    display:inline-block;
    vertical-align: top;
    width:49%;
}
#block-views-block-popular-posts-block-1 .post-right{
    display:inline-block;
    vertical-align: top;
    width:49%;
}
#block-views-block-popular-posts-block-1 .post-cate{
    font-size:11px;
    text-transform: uppercase;
    color:#25c0b5;
}
#block-views-block-popular-posts-block-1 .post-cate a{
    color:#25c0b5;
    font-weight: bold;
}
#block-views-block-popular-posts-block-1 .post-title{
    font-size:11px;
    text-transform: uppercase;
    color:#25c0b5;
    padding: 8px 0px;
}
#block-views-block-popular-posts-block-1 .post-title a{
    font-size:11px;
    text-transform: uppercase;
    color:#000;
}
#block-views-block-popular-posts-block-1 .views-row{
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
#block-views-block-popular-posts-block-1 .post-created{
    padding: 0px 0px;
    color:#000;
    text-transform: uppercase;
}
.rightsidebar{
    background-color: #fff;
    height: auto;
    margin-top: 35px;
}
#block-views-block-about-me-block-1 h2{
    font-size:14px;
    font-weight: bold;
    text-transform: uppercase;
}
#block-views-block-about-me-block-1 .views-field.views-field-body{
    padding: 19px 0px;
}
#block-flows-content .views-field.views-field-field-insurance-list a {
    color: #25c0b5;
    font-weight: bold;
}
#block-flows-content .views-field.views-field-title a {
    color: #000;
    font-weight: 800;
    font-size: 25px;
}
#block-flows-content .views-field.views-field-field-file-upload{
    vertical-align: top;
    display: inline-block;
}
