<div id="page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2 leftsidebar">
                   {% if page.header %}
                   {{ page.header }}
                   {% endif %}
                </div>
                <div class="col-md-8 col-sm-8">
                    {{ page.content }}
                </div>
                <div class="clear-fix"></div>
                <div class="col-md-2 col-sm-2 rightsidebar">
                    <div class="">
                        {% if page.sidebar %}
                        {{ page.sidebar }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

